@model IEnumerable<CategoryOutputModel>
@{
    ViewData["Title"] = "Manage Categories";
}

<div class="row">
    <div class="col-md-6 mb-1">
        @if (!Model.Any())
        {
            <p class="bg-warning d-inline-block p-1">No categories added yet.</p>
        }
    </div>
    <div class="col-md-12 mb-2">
        <a asp-area="Admin" asp-controller="Categories" asp-action="Create" class="btn btn-success">Create New Category</a>
    </div>
    <div class="col-md-12">
        <div class="categories">
            @foreach (var categoryOutputModel in Model)
            {
                <div class="category">
                    <p>@categoryOutputModel.Name</p>
                    <p>Order: @categoryOutputModel.Order</p>
                    <img src="@categoryOutputModel.ImageUrl" />
                    <form method="post" asp-area="Admin" asp-controller="Categories" asp-action="StatusChange" class="p-2">
                        <input name="Id" value="@categoryOutputModel.Id" id="Id" type="hidden" />
                        @if (categoryOutputModel.IsActive)
                        {
                            <button type="submit" class="btn btn-warning w-100">Make Inactive</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success w-100">Make Active</button>
                        }
                    </form>
                    <a class="btn btn-danger w-100 mb-2" asp-area="Admin" asp-controller="Categories" asp-action="Delete" asp-route-id="@categoryOutputModel.Id">Delete</a>
                </div>
            }
        </div>
    </div>
</div>