@model SearchProductsOutputModel
@{
    ViewData["Title"] = "Manage Products";
}

<div class="row mt-3 mb-3">
    <div class="col-md-12">
        <form method="get" asp-area="Admin" asp-controller="Products" asp-action="Index">
            <div class="form-row justify-content-start align-items-center">
                <div class="col-4">
                    <input name="Name" value="@Constants.ControllerViewData.ProductNameKey" placeholder="What are you looking for?" class="form-control mb-2" />
                </div>
                <div class="col-auto">
                    <input name="Description" value="@Constants.ControllerViewData.ProductDescriptionKey" placeholder="Description" class="form-control mb-2" />
                </div>
                <div class="col-auto">
                    <input name="MinPrice" value="@Constants.ControllerViewData.ProductMinPriceKey" placeholder="Min Price" class="form-control mb-2" />
                </div>
                <div class="col-auto mr-1">
                    <input name="MaxPrice" value="@Constants.ControllerViewData.ProductMaxPriceKey" placeholder="Max Price" class="form-control mb-2" />
                </div>
                <div class="col-auto align-self-md-end pl-0">
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <a asp-area="Admin" asp-controller="Products" asp-action="Create" class="btn btn-success">Create New Product</a>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-12">
        <h2 class="mb-3">Products</h2>
        @if (!Model.Products.Any())
        {
            <p class="bg-warning d-inline-block p-1">No products added yet.</p>
        }
        @for (int i = 0; i < Model.Products.Count; i += 4)
        {
            <div class="card-deck mt-2">
                @for (int k = 0; k <= 3 && k + i < Model.Products.Count(); k++)
                {
                    <div class="card p-0">
                        <a asp-area="Admin" asp-controller="Products" asp-action="Details" asp-route-id="@Model.Products[k + i].Id" asp-route-fromPage="@Model.Page">
                            <div class="card-img-wrapper">
                                <img class="card-img-top" src="@Model.Products[k + i].ImageUrl" alt="Image">
                            </div>
                        </a>
                        <div class="card-body">
                            <a asp-area="Admin" asp-controller="Products" asp-action="Details" asp-route-id="@Model.Products[k + i].Id" asp-route-fromPage="@Model.Page">
                                <h5 class="card-title">@Model.Products[k + i].Name</h5>
                                <p class="card-text">Description: @Model.Products[k + i].Description</p>
                                <p class="card-text">Price: $@Model.Products[k + i].Price</p>
                            </a>
                        </div>
                        <div class="card-footer text-center">
                            <form method="post" asp-area="" asp-controller="ShoppingCarts" asp-action="AddProduct">
                                <input type="hidden" name="ProductId" value="@Model.Products[k + i].Id" />
                                <input type="hidden" name="FromPage" value="@Model.Page" />
                                <button class="btn btn-primary w-100">Add to Shopping Cart</button>
                            </form>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

<partial name="_PaginationPartial" model="Model" />
